<div class="row">

    <div class="product-info col-md-4" *ngFor="let p of products">
        <img src="/img/{{ p.artId }}.jpg" class="img-fluid" [alt]="p.title" />
        <h3>Mug</h3>
        <ul class="product-props">
            <li><strong>Price</strong>: {{ p.price | currency:"USD":true }}</li>
            <li><strong>Artist</strong>: {{ p.artist }}</li>
            <li><strong>Title</strong>: {{ p.title }}</li>
            <li><strong>Description</strong>: {{ p.artDescription }}</li>
        </ul>
        <button id="buyButton">Buy</button>
    </div>

</div>